$default-box-shadow: -2px 7px 7px rgba(0, 0, 0, 0.15);
$footer-box-shadow: 0px -7px 6px rgba(0, 0, 0, 0.05);

$default-red: rgba(251, 107, 107, 1);

$default-border-radius: 5px;
$btn-border-style: 1px solid #d70900;

$font-recursive: "Recursive", sans-serif;
$font-righteous: "Righteous", cursive;
$regular-font-size: 18px;

$question-box-width: 182px;
$question-box-height: 40px;
