@import "./sass/variables";
@import "./sass/resets";
@import "./sass/mixins";

body {
  position: relative;
  height: 100vh;
  width: 100vw;

  -ms-overflow-style: none; /* for IE, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;

  overflow-x: hidden;
  background-color: $default-red;
}
body::-webkit-scrollbar {
  display: none;
}
#nav-screen {
  position: relative;

  figure {
    position: absolute;
    margin: 0 auto;
    top: 150px;
    left: 0;
    right: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 170px;
    width: 300px;
  }
  figure img {
    width: 85px;
  }
  figure figcaption {
    font-family: $font-righteous;
    font-size: 40px;
    color: white;
  }
  button {
    position: absolute;
    top: 450px;
    right: 0;
    left: 0;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 55px;
    width: 220px;

    font-family: $font-recursive;
    font-size: $regular-font-size;
    color: rgba(215, 9, 0, 1);

    border: $btn-border-style;
    box-shadow: $default-box-shadow;
    border-radius: $default-border-radius;
    background-color: white;
  }
}
#first-screen {
  position: relative;
  height: inherit;
  width: inherit;

  header {
    @include flex-center(row, initial, 20px);

    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 19px 80px;
    height: 120px;
    width: 375px;
  }
  header img {
    width: 50px;
  }
  header h3 {
    font-size: 32px;
    font-family: $font-righteous;
    color: white;
  }
  main {
    @include flex-center(column, initial, 10px);
    position: relative;

    margin: 0 auto;
    padding: 150px 11px 100px 11px;
    height: fit-content;
    width: 375px;
  }
  main article {
    position: relative;
    padding: 0 20px;
    height: 70px;
    width: 330px;

    font-family: $font-recursive;
    font-weight: bold;
    font-size: 21px;

    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;
  }
  article {
    p.wrong-text {
      color: $wrong-red;
      text-decoration: line-through;
      text-decoration-color: $wrong-red;
    }
    p.in-between-text {
      color: $in-between-orange;
      text-decoration: line-through;
      text-decoration-color: $in-between-orange;
    }
    p.success-text {
      color: $success-green;
      text-decoration: line-through;
      text-decoration-color: $success-green;
    }
    & > ion-icon.wrong-icon,
    & > ion-icon.success-icon {
      font-size: 35px;
    }
    & > ion-icon.in-between-icon {
      font-size: 38px;
    }
  }
  footer {
    @include flex-center(column, center, 5px);

    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;

    height: 80px;
    width: 100%;

    font-family: $font-recursive;
    font-size: 18px;

    box-shadow: $footer-box-shadow;
    background-color: white;
  }
  footer.show-results {
    justify-content: space-between;

    padding: 15px 60px;
    height: 244px;
    transition: height 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  section {
    @include flex-center(row, center, 0);

    font-size: 28px;
  }
  section ion-icon {
    cursor: default;
  }
  ion-icon.play-btn {
    font-size: 34px;
    --ionicon-stroke-width: 45px;
  }
  ion-icon.wrong-icon {
    color: $wrong-red;
  }
  ion-icon.in-between-icon {
    font-size: 30.3px;
    color: $in-between-orange;
  }
  ion-icon.success-icon {
    color: $success-green;
  }
}
#restart-btn {
  height: 32px;
  width: 167px;

  color: white;

  border: none;
  border-radius: $default-border-radius;
  background-color: $default-red;

  &.clicked {
    filter: brightness(75%);
    transition: 400ms;
  }
}
button:hover,
ion-icon:hover,
.question img:hover {
  cursor: pointer;
}
.display {
  @include flex-center(row, space-between, 0);

  background-color: white;
}
.card {
  position: absolute;
  top: 0;
  right: 0;

  height: 140px !important;

  background-color: $card-color !important;

  transition: transform 1s;
  transform-style: preserve-3d;
  transition: height 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &.turned {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }
  .question,
  .answer {
    position: absolute;
    top: 0;
    right: 0;

    height: inherit;
    width: inherit;

    font-weight: 400;

    border-radius: $default-border-radius;
    backface-visibility: hidden;
  }
  .question p,
  .answer p {
    position: absolute;
    top: 0;
    left: 0;

    line-height: 23px;

    padding: 20px 15px 0 15px;
    height: fit-content;
    width: 100%;
  }
  .question img {
    position: absolute;
    bottom: 5px;
    right: 10px;

    width: 40px;
  }
  .answer {
    @include flex-center(row, space-evenly, 5px);
    align-items: flex-end;

    padding: 0 5px 5px;

    font-size: 18px !important;

    transform: rotateY(180deg);
  }
  .wrong,
  .in-between,
  .success {
    @include flex-center(row, center, 0);

    height: 40px;
    width: 100px;

    font-size: 13px;
    text-align: center;
    color: white;

    cursor: pointer;
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;
  }
  .wrong {
    background-color: $wrong-red;
  }
  .in-between {
    background-color: $in-between-orange;
  }
  .success {
    background-color: $success-green;
  }
}
.results {
  @include flex-center(column, center, 15px);
  align-items: center;

  text-align: center;

  #{&}__title {
    @include flex-center(row, initial, 12px);
  }
  #{&}__title img {
    width: 23px;
  }
  #{&}__title figcaption {
    font-weight: bold;
    font-size: 18px;
  }
}
#loading-img {
  position: absolute;
  top: calc(100vh / 2 - 120px);
  right: 0;
  left: 0;
  margin: 0 auto;

  width: 150px;
  animation: img-pulse 1.2s infinite ease-in-out;
}

/* generated at https://loading.io/ (modified) */
/* #loading-spinner {
  position: relative;

  width: 100%;
  height: 100%;

  transform-origin: 0 0;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  
  div {
    position: absolute;

    opacity: 1;

    border-radius: 50%;
    border-width: 4px;
    border-style: solid;

    animation: loading-spinner 1.25s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  #maroon-ripple {
    border-color: #3c0f0f;
    animation-delay: 0s;
  }
  #red-ripple {
    border-color: #f91a10;
    animation-delay: -0.625s;
  }
}
#loading-spinner-ripple {
  position: absolute;
  top: calc(100vh / 2 - 125px);
  left: 0;
  right: 0;

  display: inline-block;
  margin: 0 auto;
  width: 200px;
  height: 200px;

  text-align: center;
  overflow: hidden;
  background: none;
}
@keyframes loading-spinner {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
} */
@keyframes img-pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
