@import "./sass/variables";
@import "./sass/resets";
@import "./sass/mixins";

body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  background-color: $default-red;
}
#nav-screen {
  position: relative;

  figure {
    position: absolute;
    margin: 0 auto;
    top: 150px;
    left: 0;
    right: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 170px;
    width: 300px;

    img {
      width: 85px;
    }
    figcaption {
      font-family: $font-righteous;
      font-size: 40px;
      color: white;
    }
  }
  button {
    position: absolute;
    top: 450px;
    right: 0;
    left: 0;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 55px;
    width: 220px;

    font-family: $font-recursive;
    font-size: $regular-font-size;
    color: rgba(215, 9, 0, 1);

    border: $btn-border-style;
    box-shadow: $default-box-shadow;
    border-radius: $default-border-radius;
    background-color: white;
  }
}
#first-screen {
  position: relative;
  height: inherit;
  width: inherit;

  header {
    @include flex-center(row, space-between, 0);

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    padding: 19px 80px;
    height: 120px;
    width: 100%;

    img {
      width: 50px;
    }
    h3 {
      font-size: 32px;
      font-family: $font-righteous;
      color: white;
    }
  }
  main {
    @include flex-center(column, initial, 10px);
    position: relative;

    margin-top: 150px;
    padding: 0 11px;
    height: fit-content;
    width: 100%;

    article {
      padding: 0 20px;
      height: 70px;
      width: 330px;

      font-family: $font-recursive;
      font-weight: bold;
      font-size: 21px;

      border-radius: $default-border-radius;
      box-shadow: $default-box-shadow;
      background-color: white;
    }
    ion-icon {
      font-size: 34px;
      --ionicon-stroke-width: 45px;
    }
  }
  footer {
    @include flex-center(row, center, 0);

    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;

    height: 80px;
    width: 100%;

    font-family: $font-recursive;
    font-size: 18px;

    box-shadow: $footer-box-shadow;
    background-color: white;
  }
}
button:hover,
ion-icon:hover {
  cursor: pointer;
}
.display {
  @include flex-center(row, space-between, 0);

  height: 100%;
  width: 100%;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: transform 1s;
  transform-style: preserve-3d;

  &.clicked {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }
  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    font-size: 60px;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  .back {
    color: white;
    transform: rotateY(180deg);
    background: #03446a;
  }
}
